/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require gritter
*/

@import "bootstrap";

body #gritter-notice-wrapper {
  top: auto;
  right: auto;
  bottom: 20px;
  left: 20px;
}

 body {
  padding-top: 60px;
  background:  #F3F1EC;
}

#new_note {
  margin-bottom: 0px;
  textarea {
    float: left;
  }
  .button {
    float: left;
    margin-left: 10px;
  }
}

label {
  color: #878787;
}

.notes {
  margin-left:20px;
  width: 95%;
  clear: both;
  div {
  	margin-bottom: 25px;
  	position:relative;
    p {
        width:80%; 
        font-size: 14px;
    }
    .delete {
    	position:absolute;
    	right: 55px;
      display: block;
      width:18px;
      height:18px;
      background-image: url("/assets/delete.png");
      background-size :100%;
      background-repeat: no-repeat;
      font-size:0px
    }
    .edit,.save {
      position:absolute;
      right: 20px;
      text-decoration: underline;
    }
    .save {display:none;}
  }
}

.flash {
	height: 30px;
	margin:  5px 0px 10px 0px;
}

.well {
	padding-top:0px;
	padding-right:0px;
	background: white; /*#FDFFD1 #FFF0DB*/
  -moz-box-shadow: 3px 3px 5px #666666;
  -webkit-box-shadow: 3px 3px 5px #666666;
  box-shadow: 3px 3px 5px #666666;
}
.sidebar a{

}

