/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
 body {
  padding-top: 60px;
  background:  #F3F1EC;
}

#new_note {
  margin-bottom: 0px;
  textarea {
    float: left;
  }
  .button {
    float: left;
    margin-left: 10px;
  }
}

label {
  color: #878787;
}

.notes {
  margin-left:20px;
  width: 95%;
  clear: both;
  div {
  	margin-bottom: 25px;
  	position:relative;
    p {
        width:80%; 
        font-size: 14px;
    }
    a {
    	position:absolute;
    	right: 25px
    }
  }
}

.flash {
	height: 30px;
	margin:  5px 0px 10px 0px;
}

.well {
	padding-top:0px;
	padding-right:0px;
	background: #FFF0DB;
}
